@import '../imports/client/styles/components/dashboard';
@import '../imports/client/styles/main';
@import '../imports/client/styles/components/tables';
@import '../imports/client/styles/components/splash';
@import '../imports/client/styles/components/home';

i.my_check {
    color: green;
}
.divider{
    background:gray;
    color: white;
    text-align:center;
}
.divider:hover{
    color: black;
}
