.page-login {
  .login__form {
    max-width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    .form__formforgot {
      float: right;
    }
    .form__button {
      width: 100%;
    }
  }
}
